@import "fonts";
@import "variables";
@import "mixin";
.main-container:after{
  display: block;
  min-height: 195px;
}
* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
.views-exposed-form-global-search-page-1{
  .form--inline{
    .form-item-search-api-fulltext{
      margin-right: 0;
    }
  }
}
body{
  overflow-x:hidden;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: avenir_book;
}
.block-field-blocknodepagetitle{
  font-family: avenir_black;
  text-transform: uppercase;
  margin-bottom: 70px;
  @media(max-width: 767px) {
    margin-bottom: 40px;
  }
}
.fa-2x{
  font-size: 25px;
}
.views-field-view-taxonomy-term{
  width: 100px;
  height: 30px;
  span{
    display: block;
    padding-top: 7px;
  }
  background-color: $blue;
  font-size: 12px;
  text-align: center;
  a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.pager-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    li{
      padding: 0;
      a{
        color: #69696A;
        padding: 7px 14px;
        border: none;
        background-color: inherit;
        border-radius: 50%;
        &:hover{
          color: black;
          background-color: #cccccc;
        }
      }
      &.is-active{
        a{
          color: black;
          background-color: #cccccc;
        }
      }
    }
  }
}
.flag-like{
  a{
    color: #c9c9c9;
  }
}
.block-field-blocknodepagetitle{
  @include borders-h2;
}
article[about="/contact-us"]{
  .block-field-blocknodepagetitle{
    &:before , &:after{
      content: none;
      display: none;
      border: none;
      vertical-align: inherit;
    }
  }
}
article[about="/about"]{
  .block-field-blocknodepagebody{
    font-size: 31px;
    color: black;
    line-height: 39px;
    @media(max-width: 1300px) {
      font-size: 30px;
    }
    @media(max-width: 1200px) {
      font-size: 26px;
    }
    @media(max-width: 991px) {
      font-size: 22px;
    }
    @media(max-width: 768px) {
      font-size: 16px;
    }
    @media(max-width: 460px) {
      font-size: 12px;
    }
    @media(max-width: 400px) {
      text-align: center;
    }
  }
}
.block-field-blocktaxonomy-termposname{
  margin-bottom: 20px;
  div{
    font-family: avenir_black;
    font-size: 30px;
    @include block-title;
    @media(max-width: 991px) {
        font-size: 25px;
    }
    @media(max-width: 768px) {
        font-size: 20px;
    }
  }
}
.webform-confirmation{
  text-align: center;
  margin-bottom: 57px;
  .webform-confirmation__message{
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 32px;
    font-family: avenir_black;
    @media(max-width: 767px) {
      font-size: 26px;
    }
    @media(max-width: 395px) {
      font-size: 20px;
    }
  }
  .webform-confirmation__back{
    a{
      padding: 5px 10px;
      background-color: $dark;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
  }
}
